@charset "utf-8";

/* CSS布局代码 */

.header{
    width: 1349px;
    height: 158px;    
}
.top-nav{    
    width: 1202px;
    height: 74px;
    padding-top: 24px;
    margin: 0 auto
}

.logo{
    float: left;
    width: 354px;
    height: 54px;
    background: url('../img/logo.jpg') no-repeat;    
}

.search{
    width: 596px;
    height: 34px;    
    margin: 12px 252px 0 354px;
}

.search-box, .search-kind, .search-ico{
    height: 32px;
}

.search-kind{
    float: left;
    width: 68px;    
    line-height: 32px;
    padding-left: 12px;
    color: #666666;
    border: 1px solid #e0e0e0;
    border-right: 0;
}

.tri1{
    position: relative;
    top: 12px;
    left: 8px;
}

.kind li{
    display: none;
    width: 80px;
    border: 1px solid #e0e0e0;
    text-align: center;
    border-top: 0;
    position: relative;
    left: -13px;
    background-color: #ffffff;
}
.search-kind:hover li{
    display: block;
}

.kind li:hover{
    background-color:#ccc;
}

.search-box{    
    width: 414px;
    padding-left: 12px;
    outline: 0 none;
    border: 1px solid #e0e0e0;
}

.search-ico{    
    float: right;
    position: relative;    
    left: -90px;
    top: 6px;
    width: 30px;     
    background: url(../img/search.gif) no-repeat;
}

.client{
    float: right;
    width: 252px;
    height: 42px;
    padding-top: 8px;    
}

.message{
    float: left;
    height: 27px;
    width: 38px;     
    background: url(../img/sprite-msg.png) no-repeat;
    position: relative;
    top: 8px;
}

.msg-num{
    display: inline-block;
    height: 27px;
    width: 27px;
    color: #ffffff;
    line-height: 30px;
    background: url(../img/sprite-msg.png) no-repeat bottom;
    position: relative;
    left: 15px;
    top: -12px;
}

.teacher{
    float: right;
    width: 54px;
    margin: 10px 10px;
}

.tri3{
    position: relative;
    top: 10px;
    left: 10px;
}

.account-info{       
    margin-left: 64px;  
    margin-right: 95px;  
}

.user-ico{    
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.name{
    display: inline-block;
    width: 24px;  
    position: relative;  
    top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.tri2{
    position: relative;
    top: 10px;
    left: 10px;
    
}

.acc-menu li{
    display: none;
    width: 120px;
    line-height: 32px;
    border: 1px solid #e0e0e0;
    text-align: center;    
    position: relative;
    left: -13px;
    background-color: #ffffff;
}

.acc-menu li:hover{
    background: #ccc;
}

.account-info:hover .acc-menu li{
    display: block;
}

.site-nav{
    width: 1349px;
    height: 60px;
}

.site-nav-item{
    display: inline-block;    
    color: white;
    font-size: 16px;    
    text-align: center;
      
}

.left-nav{
    float: left;
    width: 762px;
    height: 60px;
    vertical-align: middle;
    background: #3598db;  
    border-left: 63px solid #3598db;  
}

.left-nav a{
    margin-left: 10px;
    width: 76px;
    height: 32px;
    line-height: 32px;    
    margin-top: 16px;  
}

.left-nav span{
    color: white;
    font-size: 16px;
    margin: 0 10px;
}

.left-nav a.site-nav-item:hover{
    background: #2db0f9;
    border-radius: 3px;
    }

.right-nav{
    float: right;
    width: 504px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    background: #e7584d;
    border-left: 20px solid #e7584d;
}

.right-nav .site-nav-item{
    margin-left: 20px;
}

.right-nav span[class="site-nav-item"]{
    color: white;
    font-size: 16px;
    margin: 0 10px 0 30px;
}

.banner{
    width: 1349px;
    height: 404px;
    overflow: hidden;
    background-color: #61caff;
}

.banner .pic{
    width: 1349px;
    height: 362px;
}
.banner .pic img{
    float: left;
    width: 1349px;
    height: 362px;
}

.banner .change-button{    
    width: 90px;
    height: 22px;    
    margin: 15px auto 0;
    
}

.change-button a{
    float: left;
    width: 14px; 
    height: 14px;
    margin-right: 10px; 
    background: url(../img/ico_circle.png) no-repeat bottom right;
}

.change-button a:hover{
    background: url(../img/ico_circle.png) no-repeat -58px -22px;    
}

.main{
    width: 1200px;    
    margin: 60px auto 0;
}

.main .title{
    float: left;
    width: 88px;
    height: 22px;
    line-height: 22px;
    font-size: 22px;
    margin-left: 20px;
    padding-left: 18px;
    border-left: 7px solid aqua;
}


.main .more a {
    float: right;
    margin-right: 20px;
    line-height: 22px;
    font-size: 22px;
    color: aqua;    
}

.lesson-link, .book-link{
    width: 1156px;
    height: 442px;
    display: flex;
    flex-flow: row wrap;    
    justify-content: space-between; 
    align-items: flex-end;
    margin: 0 auto;
}

.lesson-link div, .book-link div{
    text-align: center;
}
.rec-book{
    margin-top: 60px;
}

.footer{
    width: 1349px;
    height: 100px;    
    background-color: #373a43; 
    padding-top: 50px;   
}

.footer p{    
    width: 1349px;
    font-size: 16px;
    color: white;
    text-align: center;
}

