<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./CSS/cssrest.css">
    <link rel="stylesheet" href="./CSS/base.css">
    <link rel="stylesheet" href="./CSS/index.css">
    <title>哈工大出版社在线教育</title>
</head>
<body>
    <!-- S 网站头部区域 -->
    <div class="header">
        <!-- S 头部导航 -->
        <div class="top-nav">
            <!-- S 网站logo -->            
                <a href="#" title="哈工大出版社在线教育" class="logo"></a>            
            <!-- E 网站logo -->
            
            <!-- S 用户区 -->
            <div class="client">
                <!-- S 消息提示 -->
                <a href="#" class="message">
                    <span class="msg-num">&nbsp12</span>
                </a>                             
                <!-- E 消息提示 -->

                <!-- S 教师端-->
                <div class="teacher">
                        教师端
                        <i class="triangle-down tri3"></i>
                    </div>                
                    <!-- E 教师端-->

                <!-- S 账户信息 -->
                <div class="account-info">
                    <a href="#" class="account">
                        <img src="./img/a2.jpg" alt="张三的头像" class="user-ico">
                    </a>
                    <a>
                        <span class="name">张三</span>
                        <i class="triangle-down tri2"></i>                     
                    </a>
                    <ul class="acc-menu">
                        <li><a href="#">我的资源</a></li>
                        <li><a href="#">我的订单</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </div>
                <!-- E 账户信息 -->                               
            </div>
            <!-- E 用户区 -->

            <!-- S 搜索栏区域 -->
            <div class="search">
                <div class="search-kind">
                    课程
                    <i class="triangle-down tri1"></i>
                    <ul class="kind">
                        <li>课程</li>
                        <li>教材</li>
                    </ul>
                </div>            
                <input type="text" class="search-box">
                <a href="#" class="search-ico"></a>
            </div>
            <!-- E 搜索栏 -->

        </div>

        <!-- E 头部导航 -->
        <div class="site-nav">            
                <div class="left-nav">
                    <a href="#" class="site-nav-item">首页</a>
                    <a href="#" class="site-nav-item">课程</a>
                    <a href="#" class="site-nav-item">教材</a>
                    <span class="site-nav-item">|</span>
                    <a href="#" class="site-nav-item">我的学习</a>
                </div>
                <div class="right-nav">
                    <a href="#" class="site-nav-item">通过课程邀请码加入课程</a>
                    <span class="site-nav-item">|</span>
                    <a href="#" class="site-nav-item">通过序列号获取资源权限</a>
                </div>            
        </div>
    </div>
    <!-- E 网站头部区域 -->

    <!-- S banner区域 -->
    <div class="banner">
        <div class="pic">
            <a href="#">
                <img src="./img/banner.png" alt="">
            </a>
        </div>
        <div class="change-button">
            <a href="#" class="button1"></a>
            <a href="#" class="button2"></a>
            <a href="#" class="button3"></a>
        </div>
    </div>
    <!-- E banner区域 -->

    <!-- S 主要内容区域 -->
    <div class="main">
        <div class="rec-lesson">
            <div class="title">
                <h3>推荐课程</h3>
            </div>
            <div class="more">
                <a href="#">
                    more...
                </a>
            </div>
            <div class="lesson-link">
                <a href="#" class="lesson-link1">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐课程</div>
                </a>
                <a href="#" class="lesson-link2">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐课程</div>
                </a>
                <a href="#" class="lesson-link3">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐课程</div>
                </a>
                <a href="#" class="lesson-link4">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐课程</div>
                </a>
                <a href="#" class="lesson-link5">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐课程</div>
                </a>
                <a href="#" class="lesson-link6">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐课程</div>
                </a>
                <a href="#" class="lesson-link7">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐课程</div>
                </a>
                <a href="#" class="lesson-link8">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐课程</div>
                </a>
                <a href="#" class="lesson-link9">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐课程</div>
                </a>
                <a href="#" class="lesson-link10">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐课程</div>
                </a>
            </div>
                                
        </div>
        <div class="rec-book">
            <div class="title">
                <h3>推荐教材</h3>
            </div>
            <div class="more">
                <a href="#">
                    more...
                </a>
            </div>
            <div class="book-link">
                <a href="#" class="book-link1">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐教材</div>
                </a>
                <a href="#" class="book-link2">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐教材</div>
                </a>
                <a href="#" class="book-link3">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐教材</div>
                </a>
                <a href="#" class="book-link4">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐教材</div>
                </a>
                <a href="#" class="book-link5">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐教材</div>
                </a>
                <a href="#" class="book-link6">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐教材</div>
                </a>
                <a href="#" class="book-link7">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐教材</div>
                </a>
                <a href="#" class="book-link8">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐教材</div>
                </a>
                <a href="#" class="book-link9">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐教材</div>
                </a>
                <a href="#" class="book-link10">
                    <img src="./img/p1.jpg" alt="">
                    <div>推荐教材</div>
                </a>
            </div>
                                
        </div>
        </div>
    </div>
    <!-- E 主要内容区域 -->

    <!-- S 底部区域 -->
    <div class="footer">
        <p>Copyrignt &copy; 2004-2016 哈尔滨工业大学出版社  版权所有    京ICP备11017824号-7</p>
    </div>
    <!-- E 底部区域 -->
</body>
</html>